In [2]:
import pandas as pd
import string
import random
import numpy as np
from sqlalchemy import create_engine
import psycopg2

## **Merge the dataset**

### Rent Dataset

In [3]:
# dataset1 - rent inventory
rent_inventory = pd.read_csv("Rent Inventory.csv")
rent_inventory.head()

,areaName,Borough,areaType,BedroomType,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,...,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,2022-02
0,All Downtown,Manhattan,submarket,Studio,1062.0,1026.0,954.0,1051.0,1747.0,2313.0,...,2081.0,1857.0,1401.0,1075.0,842.0,797.0,729.0,693.0,682.0,677.0
1,All Midtown,Manhattan,submarket,Studio,817.0,763.0,731.0,707.0,1043.0,1458.0,...,1748.0,1581.0,1291.0,1063.0,825.0,740.0,633.0,496.0,476.0,506.0
2,All Upper East Side,Manhattan,submarket,Studio,435.0,379.0,367.0,357.0,570.0,798.0,...,1288.0,1280.0,1228.0,964.0,682.0,599.0,428.0,344.0,334.0,289.0
3,All Upper Manhattan,Manhattan,submarket,Studio,229.0,206.0,171.0,166.0,252.0,342.0,...,451.0,500.0,454.0,423.0,309.0,308.0,286.0,259.0,218.0,182.0
4,All Upper West Side,Manhattan,submarket,Studio,352.0,373.0,345.0,364.0,552.0,762.0,...,839.0,821.0,754.0,630.0,385.0,349.0,289.0,238.0,252.0,254.0

In [ ]:
# dataset2 - rent asking price
rent_price = pd.read_csv("medianAskingRent.csv")
rent_price.head()

,areaName,Borough,areaType,BedroomType,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,...,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,2022-02
0,All Downtown,Manhattan,submarket,Studio,2995.0,2995.0,2900.0,2811.0,2700.0,2583.0,...,2520.0,2665.0,2750.0,2800.0,2950.0,3000.0,3100.0,3157.0,3300.0,3450.0
1,All Midtown,Manhattan,submarket,Studio,2695.0,2700.0,2750.0,2687.0,2511.0,2450.0,...,2348.0,2400.0,2500.0,2600.0,2650.0,2650.0,2795.0,2900.0,3000.0,3000.0
2,All Upper East Side,Manhattan,submarket,Studio,2250.0,2245.0,2250.0,2245.0,2150.0,2050.0,...,1850.0,1890.0,1950.0,2000.0,2050.0,2050.0,2073.0,2150.0,2239.0,2350.0
3,All Upper Manhattan,Manhattan,submarket,Studio,1795.0,1800.0,1825.0,1813.0,1825.0,1800.0,...,1695.0,1700.0,1745.0,1730.0,1700.0,1733.0,1750.0,1750.0,1800.0,1850.0
4,All Upper West Side,Manhattan,submarket,Studio,2475.0,2450.0,2359.0,2294.0,2200.0,2194.0,...,2100.0,2195.0,2200.0,2231.0,2298.0,2350.0,2495.0,2497.0,2538.0,2500.0

In [ ]:
# dataset3 - rent price cut
rent_price_cut = pd.read_csv("ShareOfRentCuts.csv")
rent_price_cut.head()

,areaName,Borough,areaType,BedroomType,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,...,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,2022-02
0,All Downtown,Manhattan,submarket,Studio,0.169,0.152,0.179,0.234,0.302,0.341,...,0.107,0.078,0.075,0.106,0.124,0.152,0.189,0.160,0.150,0.146
1,All Midtown,Manhattan,submarket,Studio,0.162,0.170,0.192,0.255,0.280,0.287,...,0.124,0.101,0.085,0.104,0.105,0.116,0.131,0.143,0.137,0.140
2,All Upper East Side,Manhattan,submarket,Studio,0.110,0.100,0.120,0.137,0.181,0.251,...,0.095,0.118,0.092,0.117,0.135,0.114,0.119,0.093,0.054,0.111
3,All Upper Manhattan,Manhattan,submarket,Studio,0.109,0.078,0.117,0.084,0.135,0.211,...,0.100,0.088,0.115,0.104,0.100,0.120,0.119,0.081,0.101,0.099
4,All Upper West Side,Manhattan,submarket,Studio,0.250,0.225,0.267,0.209,0.351,0.343,...,0.181,0.152,0.134,0.127,0.132,0.221,0.208,0.181,0.230,0.177

In [ ]:
rent_inventory = rent_inventory.melt(id_vars = ['areaName','Borough','areaType','BedroomType'])
rent_inventory = rent_inventory.rename(columns = {"variable" : "date", "value" : "rent_inventory"})
rent_inventory

,areaName,Borough,areaType,BedroomType,date,rent_inventory
0,All Downtown,Manhattan,submarket,Studio,2020-01,1062.0
1,All Midtown,Manhattan,submarket,Studio,2020-01,817.0
2,All Upper East Side,Manhattan,submarket,Studio,2020-01,435.0
3,All Upper Manhattan,Manhattan,submarket,Studio,2020-01,229.0
4,All Upper West Side,Manhattan,submarket,Studio,2020-01,352.0
...,...,...,...,...,...,...
20587,Windsor Terrace,Brooklyn,neighborhood,Three or more beds,2022-02,4.0
20588,Woodhaven,Queens,neighborhood,Three or more beds,2022-02,8.0
20589,Woodlawn,Bronx,neighborhood,Three or more beds,2022-02,2.0
20590,Woodside,Queens,neighborhood,Three or more beds,2022-02,6.0
20591,Woodstock,Bronx,neighborhood,Three or more beds,2022-02,3.0

In [ ]:
rent_price = rent_price.melt(id_vars = ['areaName','Borough','areaType','BedroomType'])
rent_price = rent_price.rename(columns = {"variable" : "date", "value" : "rent_asking_price"})
rent_price

,areaName,Borough,areaType,BedroomType,date,rent_asking_price
0,All Downtown,Manhattan,submarket,Studio,2020-01,2995.0
1,All Midtown,Manhattan,submarket,Studio,2020-01,2695.0
2,All Upper East Side,Manhattan,submarket,Studio,2020-01,2250.0
3,All Upper Manhattan,Manhattan,submarket,Studio,2020-01,1795.0
4,All Upper West Side,Manhattan,submarket,Studio,2020-01,2475.0
...,...,...,...,...,...,...
20587,Windsor Terrace,Brooklyn,neighborhood,Three or more beds,2022-02,NaN
20588,Woodhaven,Queens,neighborhood,Three or more beds,2022-02,NaN
20589,Woodlawn,Bronx,neighborhood,Three or more beds,2022-02,NaN
20590,Woodside,Queens,neighborhood,Three or more beds,2022-02,NaN
20591,Woodstock,Bronx,neighborhood,Three or more beds,2022-02,NaN

In [ ]:
rent_price_cut = rent_price_cut.melt(id_vars = ['areaName','Borough','areaType','BedroomType'])
rent_price_cut = rent_price_cut.rename(columns = {"variable" : "date", "value" : "rent_price_cut"})
rent_price_cut

,areaName,Borough,areaType,BedroomType,date,rent_price_cut
0,All Downtown,Manhattan,submarket,Studio,2020-01,0.169
1,All Midtown,Manhattan,submarket,Studio,2020-01,0.162
2,All Upper East Side,Manhattan,submarket,Studio,2020-01,0.110
3,All Upper Manhattan,Manhattan,submarket,Studio,2020-01,0.109
4,All Upper West Side,Manhattan,submarket,Studio,2020-01,0.250
...,...,...,...,...,...,...
20587,Windsor Terrace,Brooklyn,neighborhood,Three or more beds,2022-02,NaN
20588,Woodhaven,Queens,neighborhood,Three or more beds,2022-02,NaN
20589,Woodlawn,Bronx,neighborhood,Three or more beds,2022-02,NaN
20590,Woodside,Queens,neighborhood,Three or more beds,2022-02,NaN
20591,Woodstock,Bronx,neighborhood,Three or more beds,2022-02,NaN

In [ ]:
rent = rent_inventory
extracted_price = rent_price["rent_asking_price"]
extracted_price_cut = rent_price_cut["rent_price_cut"]

rent.insert(6, "rent_asking_price", extracted_price)
rent.insert(7, "rent_price_cut", extracted_price_cut)
rent

,areaName,Borough,areaType,BedroomType,date,rent_inventory,rent_asking_price,rent_price_cut
0,All Downtown,Manhattan,submarket,Studio,2020-01,1062.0,2995.0,0.169
1,All Midtown,Manhattan,submarket,Studio,2020-01,817.0,2695.0,0.162
2,All Upper East Side,Manhattan,submarket,Studio,2020-01,435.0,2250.0,0.110
3,All Upper Manhattan,Manhattan,submarket,Studio,2020-01,229.0,1795.0,0.109
4,All Upper West Side,Manhattan,submarket,Studio,2020-01,352.0,2475.0,0.250
...,...,...,...,...,...,...,...,...
20587,Windsor Terrace,Brooklyn,neighborhood,Three or more beds,2022-02,4.0,NaN,NaN
20588,Woodhaven,Queens,neighborhood,Three or more beds,2022-02,8.0,NaN,NaN
20589,Woodlawn,Bronx,neighborhood,Three or more beds,2022-02,2.0,NaN,NaN
20590,Woodside,Queens,neighborhood,Three or more beds,2022-02,6.0,NaN,NaN
20591,Woodstock,Bronx,neighborhood,Three or more beds,2022-02,3.0,NaN,NaN

In [ ]:
rent.to_csv('rent_dataset.csv', index = False)

### Sales Dataset

In [ ]:
# dataset - sales
sales_inventory = pd.read_csv("Sales Inventory.csv")
sales_price = pd.read_csv("medianSalesPrice.csv")
sales_asking_price = pd.read_csv("sales medianAskingPrice.csv")
sales_recorded = pd.read_csv("recordedSales.csv")
sales_price_cut = pd.read_csv("Shareof price cut for sale.csv")

In [ ]:
sales_inventory = sales_inventory.melt(id_vars = ['areaName','Borough','areaType','PropertyType'])
sales_inventory = sales_inventory.rename(columns = {"variable" : "date", "value" : "sales_inventory"})

sales_price = sales_price.melt(id_vars = ['areaName','Borough','areaType','PropertyType'])
sales_price = sales_price.rename(columns = {"variable" : "date", "value" : "sales_price"})

sales_asking_price = sales_asking_price.melt(id_vars = ['areaName','Borough','areaType','PropertyType'])
sales_asking_price = sales_asking_price.rename(columns = {"variable" : "date", "value" : "sales_asking_price"})

sales_recorded = sales_recorded.melt(id_vars = ['areaName','Borough','areaType','PropertyType'])
sales_recorded = sales_recorded.rename(columns = {"variable" : "date", "value" : "sales_recorded"})

sales_price_cut = sales_price_cut.melt(id_vars = ['areaName','Borough','areaType','PropertyType'])
sales_price_cut = sales_price_cut.rename(columns = {"variable" : "date", "value" : "sales_price_cut"})

In [ ]:
sales = sales_inventory
a = sales_recorded["sales_recorded"]
b = sales_price["sales_price"]
c = sales_asking_price["sales_asking_price"]
d = sales_price_cut["sales_price_cut"]

sales.insert(6, "sales_recorded", a)
sales.insert(7, "sales_price", b)
sales.insert(8, "sales_asking_price", c)
sales.insert(9, "sales_price_cut", d)
sales

,areaName,Borough,areaType,PropertyType,date,sales_inventory,sales_recorded,sales_price,sales_asking_price,sales_price_cut
0,All Downtown,Manhattan,submarket,Condo,2020-01,1644.0,156.0,1900000.0,2650000.0,0.099
1,All Midtown,Manhattan,submarket,Condo,2020-01,1055.0,89.0,1357500.0,1995000.0,0.102
2,All Upper East Side,Manhattan,submarket,Condo,2020-01,579.0,66.0,1261404.0,2500000.0,0.138
3,All Upper Manhattan,Manhattan,submarket,Condo,2020-01,304.0,30.0,843111.0,997000.0,0.095
4,All Upper West Side,Manhattan,submarket,Condo,2020-01,486.0,93.0,1660000.0,2492500.0,0.121
...,...,...,...,...,...,...,...,...,...,...
15439,Windsor Terrace,Brooklyn,neighborhood,Single Family/Townhouse,2022-02,13.0,3.0,NaN,2299000.0,NaN
15440,Woodhaven,Queens,neighborhood,Single Family/Townhouse,2022-02,18.0,19.0,710000.0,809000.0,NaN
15441,Woodlawn,Bronx,neighborhood,Single Family/Townhouse,2022-02,2.0,3.0,NaN,NaN,NaN
15442,Woodside,Queens,neighborhood,Single Family/Townhouse,2022-02,11.0,8.0,NaN,1528000.0,NaN
15443,Woodstock,Bronx,neighborhood,Single Family/Townhouse,2022-02,4.0,2.0,NaN,NaN,NaN

In [ ]:
sales.to_csv('sales_dataset.csv', index = False)

## **Normalization**

In [3]:
rent = pd.read_csv("rent_dataset.csv")
rent.columns= rent.columns.str.lower()
rent.head()

,areaname,borough,areatype,bedroomtype,date,rent_inventory,rent_asking_price,rent_price_cut
0,All Downtown,Manhattan,submarket,Studio,2020-01,1062.0,2995.0,0.169
1,All Midtown,Manhattan,submarket,Studio,2020-01,817.0,2695.0,0.162
2,All Upper East Side,Manhattan,submarket,Studio,2020-01,435.0,2250.0,0.110
3,All Upper Manhattan,Manhattan,submarket,Studio,2020-01,229.0,1795.0,0.109
4,All Upper West Side,Manhattan,submarket,Studio,2020-01,352.0,2475.0,0.250

In [4]:
sales = pd.read_csv("sales_dataset.csv")
sales.columns= sales.columns.str.lower()
sales.head()

,areaname,borough,areatype,propertytype,date,sales_inventory,sales_recorded,sales_price,sales_asking_price,sales_price_cut
0,All Downtown,Manhattan,submarket,Condo,2020-01,1644.0,156.0,1900000.0,2650000.0,0.099
1,All Midtown,Manhattan,submarket,Condo,2020-01,1055.0,89.0,1357500.0,1995000.0,0.102
2,All Upper East Side,Manhattan,submarket,Condo,2020-01,579.0,66.0,1261404.0,2500000.0,0.138
3,All Upper Manhattan,Manhattan,submarket,Condo,2020-01,304.0,30.0,843111.0,997000.0,0.095
4,All Upper West Side,Manhattan,submarket,Condo,2020-01,486.0,93.0,1660000.0,2492500.0,0.121

### area table

In [5]:
## area table
# extract the area table
area = rent[["areaname","borough","areatype"]]
area.rename(columns = {'areaname':'area_name', 'areatype':'area_type'}, inplace = True)

# drop duplicate value in area df
area = area.drop_duplicates(keep='first')
area

/Users/liudoudou/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

               area_name    borough     area_type
0           All Downtown  Manhattan     submarket
1            All Midtown  Manhattan     submarket
2    All Upper East Side  Manhattan     submarket
3    All Upper Manhattan  Manhattan     submarket
4    All Upper West Side  Manhattan     submarket
..                   ...        ...           ...
193      Windsor Terrace   Brooklyn  neighborhood
194            Woodhaven     Queens  neighborhood
195             Woodlawn      Bronx  neighborhood
196             Woodside     Queens  neighborhood
197            Woodstock      Bronx  neighborhood

[198 rows x 3 columns]

In [6]:
# generate unique identifier for area
area["area_id"] = random.sample(range(100,999),area.shape[0])

# rearrange the order
cols = area.columns.tolist()
cols = cols[-1:] + cols[:-1]
area = area[cols]
area

     area_id            area_name    borough     area_type
0        734         All Downtown  Manhattan     submarket
1        979          All Midtown  Manhattan     submarket
2        443  All Upper East Side  Manhattan     submarket
3        256  All Upper Manhattan  Manhattan     submarket
4        258  All Upper West Side  Manhattan     submarket
..       ...                  ...        ...           ...
193      774      Windsor Terrace   Brooklyn  neighborhood
194      457            Woodhaven     Queens  neighborhood
195      973             Woodlawn      Bronx  neighborhood
196      319             Woodside     Queens  neighborhood
197      810            Woodstock      Bronx  neighborhood

[198 rows x 4 columns]

In [7]:
# Map area_id
area_id_list = [area.area_id[area.area_name == i].values[0] for i in rent.areaname]

# add area_id to rent dataframe
rent.insert(0, 'area_id', area_id_list)
rent.head()

,area_id,areaname,borough,areatype,bedroomtype,date,rent_inventory,rent_asking_price,rent_price_cut
0,734,All Downtown,Manhattan,submarket,Studio,2020-01,1062.0,2995.0,0.169
1,979,All Midtown,Manhattan,submarket,Studio,2020-01,817.0,2695.0,0.162
2,443,All Upper East Side,Manhattan,submarket,Studio,2020-01,435.0,2250.0,0.110
3,256,All Upper Manhattan,Manhattan,submarket,Studio,2020-01,229.0,1795.0,0.109
4,258,All Upper West Side,Manhattan,submarket,Studio,2020-01,352.0,2475.0,0.250

In [8]:
# Map area_id
area_id_list = [area.area_id[area.area_name == i].values[0] for i in sales.areaname]

# add area_id to sales dataframe
sales.insert(0, 'area_id', area_id_list)
sales.head()

,area_id,areaname,borough,areatype,propertytype,date,sales_inventory,sales_recorded,sales_price,sales_asking_price,sales_price_cut
0,734,All Downtown,Manhattan,submarket,Condo,2020-01,1644.0,156.0,1900000.0,2650000.0,0.099
1,979,All Midtown,Manhattan,submarket,Condo,2020-01,1055.0,89.0,1357500.0,1995000.0,0.102
2,443,All Upper East Side,Manhattan,submarket,Condo,2020-01,579.0,66.0,1261404.0,2500000.0,0.138
3,256,All Upper Manhattan,Manhattan,submarket,Condo,2020-01,304.0,30.0,843111.0,997000.0,0.095
4,258,All Upper West Side,Manhattan,submarket,Condo,2020-01,486.0,93.0,1660000.0,2492500.0,0.121

### room table

In [9]:
# create room df with unique bedroom type
room = pd.DataFrame(rent.bedroomtype.unique(), columns=['bedroomtype'])
room.rename(columns = {'bedroomtype':'bedroom_type'}, inplace = True)

# add incrementing integers
room.insert(0, 'bedroom_type_id', range(1, 1 + len(room)))
room

   bedroom_type_id        bedroom_type
0                1              Studio
1                2             One bed
2                3            Two beds
3                4  Three or more beds

In [10]:
# Map bedroom_type_id
bedroom_id_list = [room.bedroom_type_id[room.bedroom_type == i].values[0] for i in rent.bedroomtype]

# add bedroom_type_id to main dataframe
rent.insert(1, 'bedroom_type_id', bedroom_id_list)
rent.head()

,area_id,bedroom_type_id,areaname,borough,areatype,bedroomtype,date,rent_inventory,rent_asking_price,rent_price_cut
0,734,1,All Downtown,Manhattan,submarket,Studio,2020-01,1062.0,2995.0,0.169
1,979,1,All Midtown,Manhattan,submarket,Studio,2020-01,817.0,2695.0,0.162
2,443,1,All Upper East Side,Manhattan,submarket,Studio,2020-01,435.0,2250.0,0.110
3,256,1,All Upper Manhattan,Manhattan,submarket,Studio,2020-01,229.0,1795.0,0.109
4,258,1,All Upper West Side,Manhattan,submarket,Studio,2020-01,352.0,2475.0,0.250

### house table

In [11]:
house = pd.DataFrame(sales.propertytype.unique(), columns=['propertytype'])
house

              propertytype
0                    Condo
1                    Co-Op
2  Single Family/Townhouse

In [12]:
# create property df with unique property type
house = pd.DataFrame(sales.propertytype.unique(), columns=['propertytype'])
house.rename(columns = {'propertytype':'property_type'}, inplace = True)

# add incrementing integers
house.insert(0, 'property_type_id', range(11, 11 + len(house)))
house

   property_type_id            property_type
0                11                    Condo
1                12                    Co-Op
2                13  Single Family/Townhouse

In [13]:
# Map property_type_id
property_id_list = [house.property_type_id[house.property_type == i].values[0] for i in sales.propertytype]

# add bedroom_type_id to main dataframe
sales.insert(0, 'property_type_id', property_id_list)
sales.head()

,property_type_id,area_id,areaname,borough,areatype,propertytype,date,sales_inventory,sales_recorded,sales_price,sales_asking_price,sales_price_cut
0,11,734,All Downtown,Manhattan,submarket,Condo,2020-01,1644.0,156.0,1900000.0,2650000.0,0.099
1,11,979,All Midtown,Manhattan,submarket,Condo,2020-01,1055.0,89.0,1357500.0,1995000.0,0.102
2,11,443,All Upper East Side,Manhattan,submarket,Condo,2020-01,579.0,66.0,1261404.0,2500000.0,0.138
3,11,256,All Upper Manhattan,Manhattan,submarket,Condo,2020-01,304.0,30.0,843111.0,997000.0,0.095
4,11,258,All Upper West Side,Manhattan,submarket,Condo,2020-01,486.0,93.0,1660000.0,2492500.0,0.121

### rent_inventory_info table

In [14]:
# generate rent_id for rent inventory, median asking price, price cut
rent["rent_id"] = random.sample(range(10000,99999),rent.shape[0])
rent.rename(columns = {'rent_asking_price':'rent_median_asking_price'}, inplace = True)
rent.head()

,area_id,bedroom_type_id,areaname,borough,areatype,bedroomtype,date,rent_inventory,rent_median_asking_price,rent_price_cut,rent_id
0,734,1,All Downtown,Manhattan,submarket,Studio,2020-01,1062.0,2995.0,0.169,66596
1,979,1,All Midtown,Manhattan,submarket,Studio,2020-01,817.0,2695.0,0.162,86418
2,443,1,All Upper East Side,Manhattan,submarket,Studio,2020-01,435.0,2250.0,0.110,36088
3,256,1,All Upper Manhattan,Manhattan,submarket,Studio,2020-01,229.0,1795.0,0.109,79974
4,258,1,All Upper West Side,Manhattan,submarket,Studio,2020-01,352.0,2475.0,0.250,18575

In [15]:
# extract rent_inventory to rent_inventory_info df
rent_inventory_info = rent[["rent_id","date","rent_inventory","area_id","bedroom_type_id"]]
rent_inventory_info.head()

   rent_id     date  rent_inventory  area_id  bedroom_type_id
0    66596  2020-01          1062.0      734                1
1    86418  2020-01           817.0      979                1
2    36088  2020-01           435.0      443                1
3    79974  2020-01           229.0      256                1
4    18575  2020-01           352.0      258                1

### rent_price_info table

In [16]:
# extract rent_median_asking_price, rent_price_cut to rent_price_info df
rent_price_info = rent[["rent_id","date","rent_median_asking_price","rent_price_cut","area_id","bedroom_type_id"]]
rent_price_info.head()

,rent_id,date,rent_median_asking_price,rent_price_cut,area_id,bedroom_type_id
0,66596,2020-01,2995.0,0.169,734,1
1,86418,2020-01,2695.0,0.162,979,1
2,36088,2020-01,2250.0,0.110,443,1
3,79974,2020-01,1795.0,0.109,256,1
4,18575,2020-01,2475.0,0.250,258,1

### sales_inventory_info table

In [17]:
# generate sales_id for sales df
sales["sales_id"] = random.sample(range(10000,99999),sales.shape[0])
sales.rename(columns = {'sales_price':'median_sales_price','sales_asking_price':'sales_median_asking_price'}, inplace = True)
sales.head()

,property_type_id,area_id,areaname,borough,areatype,propertytype,date,sales_inventory,sales_recorded,median_sales_price,sales_median_asking_price,sales_price_cut,sales_id
0,11,734,All Downtown,Manhattan,submarket,Condo,2020-01,1644.0,156.0,1900000.0,2650000.0,0.099,81244
1,11,979,All Midtown,Manhattan,submarket,Condo,2020-01,1055.0,89.0,1357500.0,1995000.0,0.102,56924
2,11,443,All Upper East Side,Manhattan,submarket,Condo,2020-01,579.0,66.0,1261404.0,2500000.0,0.138,50500
3,11,256,All Upper Manhattan,Manhattan,submarket,Condo,2020-01,304.0,30.0,843111.0,997000.0,0.095,89779
4,11,258,All Upper West Side,Manhattan,submarket,Condo,2020-01,486.0,93.0,1660000.0,2492500.0,0.121,34267

In [18]:
sales_inventory_info = sales[["sales_id","date","sales_inventory","sales_recorded","area_id","property_type_id"]]
sales_inventory_info.head()

,sales_id,date,sales_inventory,sales_recorded,area_id,property_type_id
0,81244,2020-01,1644.0,156.0,734,11
1,56924,2020-01,1055.0,89.0,979,11
2,50500,2020-01,579.0,66.0,443,11
3,89779,2020-01,304.0,30.0,256,11
4,34267,2020-01,486.0,93.0,258,11

### sales_price_info table

In [19]:
sales_price_info = sales[["sales_id","date","median_sales_price","sales_median_asking_price","sales_price_cut","area_id","property_type_id"]]
sales_price_info.head()

,sales_id,date,median_sales_price,sales_median_asking_price,sales_price_cut,area_id,property_type_id
0,81244,2020-01,1900000.0,2650000.0,0.099,734,11
1,56924,2020-01,1357500.0,1995000.0,0.102,979,11
2,50500,2020-01,1261404.0,2500000.0,0.138,443,11
3,89779,2020-01,843111.0,997000.0,0.095,256,11
4,34267,2020-01,1660000.0,2492500.0,0.121,258,11

### area_room relation table

In [20]:
area_room = rent[["area_id","bedroom_type_id"]]
area_room.head()

   area_id  bedroom_type_id
0      734                1
1      979                1
2      443                1
3      256                1
4      258                1

### area_house relation table

In [21]:
area_house = sales[["area_id","property_type_id"]]
area_house.head()

   area_id  property_type_id
0      734                11
1      979                11
2      443                11
3      256                11
4      258                11

## ETL

### Connect with PostgreSQL

In [34]:
conn_url= 'postgresql://postgres:123@localhost:5432/5310_Project'
engine = create_engine(conn_url)
connection = engine.connect()

### Create Tables

In [35]:
stmt = """ CREATE TABLE area(
              area_id integer,
              area_name varchar(100) NOT NULL,
              borough  varchar(100),
              area_type  varchar(100),
              primary key (area_id)
              );
            CREATE TABLE room(
              bedroom_type_id integer,
              bedroom_type varchar(100) NOT NULL,
              primary key (bedroom_type_id)
              );
            CREATE TABLE house(
              property_type_id  integer,
              property_type  varchar(100) NOT NULL,
              primary key (property_type_id)
              );
            CREATE TABLE rent_inventory_info(
              rent_id  integer,
              date  VARCHAR(7) NOT NULL,
              rent_inventory  integer,
              area_id  integer,
              bedroom_type_id  integer,
              primary key (rent_id),
              foreign key (area_id) references area(area_id),
              foreign key (bedroom_type_id) references room(bedroom_type_id));
            CREATE TABLE rent_price_info(
              rent_id  integer,
              date  VARCHAR(7) NOT NULL,
              rent_median_asking_price  integer,
              rent_price_cut  numeric(4,3),
              area_id  integer,
              bedroom_type_id  integer,
              primary key (rent_id),
              foreign key (area_id) references area(area_id),
              foreign key (bedroom_type_id) references room(bedroom_type_id));
            CREATE TABLE sales_inventory_info(
              sales_id  integer,
              date  VARCHAR(7) NOT NULL,
              sales_inventory  integer,
              sales_recorded  integer,
              area_id  integer,
              property_type_id  integer,
              primary key   (sales_id),
              foreign key (area_id) references area(area_id),
              foreign key (property_type_id) references house(property_type_id));
            CREATE TABLE sales_price_info(
              sales_id  integer,
              date  VARCHAR(7) NOT NULL,
              median_sales_price  integer,
              sales_median_asking_price  integer,
              sales_price_cut  numeric(4,3),
              area_id  integer,
              property_type_id  integer,
              primary key  (sales_id),
              foreign key (area_id) references area(area_id),
              foreign key (property_type_id) references house(property_type_id));
            CREATE TABLE area_room(
              area_id  integer,
              bedroom_type_id  integer,
              foreign key (bedroom_type_id) references room(bedroom_type_id),
              foreign key (area_id) references area(area_id));
            CREATE TABLE area_house(
              area_id  integer,
              property_type_id  integer,
              foreign key (property_type_id) references house(property_type_id),
              foreign key (area_id) references area(area_id))
            
                
            """

connection.execute(stmt)

In [45]:
stmt= """ CREATE TABLE insurance(
            insurance_company_id  integer,
            insurance_company_name  varchar(100) NOT NULL,
            primary key (insurance_company_id));
          CREATE TABLE renter_building(
            renter_id  integer,
            renter_name  varchar(100) NOT NULL,
            renter_location  text NOT NULL,
            elevator  boolean,
            gym  boolean,
            doorman  boolean,
            distance_to_MTA  numeric(6,2),
            insurance_company_id  integer,
            primary key  (renter_id),
            foreign key (insurance_company_id) references insurance(insurance_company_id));
          CREATE TABLE seller_building(
            seller_id  integer,
            seller_name  varchar(100) NOT NULL,
            seller_location  text NOT NULL,
            elevator  boolean,
            distance_to_MTA  numeric(6,2),
            amenity_fee  numeric(12,2),
            building_age  integer,
            down_payment  numeric(12,2),
            primary key (seller_id));
          CREATE TABLE building_agent_rent(
            agent_id  integer,
            renter_id  integer NOT NULL,
            agent_name  varchar(100) NOT NULL,
            phone_number  varchar(10) NOT NULL,
            fax_number  varchar(10) NOT NULL,
            primary key (agent_id),
            foreign key (renter_id) references renter_building(renter_id));
          CREATE TABLE building_agent_sales(
            agent_id  integer,
            seller_id  integer NOT NULL,
            agent_name  varchar(100) NOT NULL,
            phone_number  varchar(10) NOT NULL,
            fax_number  varchar(10) NOT NULL,
            primary key (agent_id),
            foreign key (seller_id) references seller_building(seller_id)
	);
          CREATE TABLE bedroom_renter(
            bedroom_type_id  integer,
            renter_id  integer,
            foreign key (bedroom_type_id) references room(bedroom_type_id),
            foreign key (renter_id) references renter_building(renter_id));
          CREATE TABLE seller_property(
            seller_id  integer,
            property_type_id  integer,
            foreign key (property_type_id) references house(property_type_id),
            foreign key (seller_id) references seller_building(seller_id))
            
      """
connection.execute(stmt)

### Insert data to SQL

In [36]:
area.to_sql(name='area', con=engine, if_exists='append', index=False)

In [37]:
room.to_sql(name='room', con=engine, if_exists='append', index=False)

In [38]:
house.to_sql(name='house', con=engine, if_exists='append', index=False)

In [39]:
rent_inventory_info.to_sql(name='rent_inventory_info', con=engine, if_exists='append', index=False)

In [40]:
rent_price_info.to_sql(name='rent_price_info', con=engine, if_exists='append', index=False)

In [41]:
sales_inventory_info.to_sql(name='sales_inventory_info', con=engine, if_exists='append', index=False)

In [42]:
sales_price_info.to_sql(name='sales_price_info', con=engine, if_exists='append', index=False)

In [43]:
area_room.to_sql(name='area_room', con=engine, if_exists='append', index=False)

In [44]:
area_house.to_sql(name='area_house', con=engine, if_exists='append', index=False)